/* COLOR VARIABLES */
:root {
  --white: #ffffff;
  --black: #212121;
  --first: #ffc107;
  --second: #17a6b6;
  --third: #757575;
  --lightGrey: #dfe9f3;
}
/* GLOBALES */
html {
  min-height: 100%;
  font-size: 65.5%;
  box-sizing: border-box; /*HACK FOR BOX MODEL */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Krub", sans-serif;
  font-size: 16px; /*1rem = 10px*/
  background-image: linear-gradient(
    to top,
    var(--lightGrey) 0%,
    var(--white) 100%
  );
}
.container {
  max-width: 1200rem;
  margin: auto;
}
.shadow {
  width: 60%;
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  padding: 2rem;
  margin-bottom: 3rem;

  background-color: var(--white);
  border-radius: 10px;
}
.button {
  background-color: var(--second);
  color: var(--white);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  width: 50%;
  border-radius: 0.5rem;
  text-align: center;
}

/* Header */
.header__name {
  text-align: center;
  font-size: 1.4rem;
}
.header__job {
  font-size: 2rem;
}
/* NAV */

.nav__bagr {
  background-color: var(--second);
}
.nav__main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav__main--link {
  color: var(--white);
  text-decoration: none;
  font-size: 1, 5rem;
  font-weight: bold;
  padding: 1rem;
}
.nav__main--link:hover {
  background-color: var(--first);
  color: var(--black);
}

/* SECTION LOCATION */

.hero {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.hero__content {
  position: absolute;
  background-color: rgb(0 0 0/70%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__content--title {
  color: var(--white);
  text-align: center;
}
.hero__content--parag {
  color: var(--white);
  display: flex;
  align-items: flex-end;
  line-height: 2;
}

/* SECTION HOBBIES */
.hobbies__title {
  text-align: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__hobby {
  color: var(--second);
  font-weight: normal;
}
.service__icons {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--first);
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__text {
  line-height: 2;
  text-align: center;
  font-size: 1.5rem;
}
/* FORM */
. @media (min-width: 768px) {
  .nav__main {
    flex-direction: row;
  }
  .button {
    width: auto;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
}
